.documentCardTags {
    
    padding: 8px 16px;
    margin-bottom: 5px;

    .tag {
        font-size: 12px;
        background-color: #dddddd;
        margin-right: 5px;        
        padding: 7px 10px;
    }
}